<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
  <title>Questionário</title>
</head>

<body >
  <nav class="navbar navbar-expand-md navbar-light">
    <div class="container"> <a class="navbar-brand text-primary" href="/">
        <i class="fa d-inline fa-lg fa-stop-circle"></i>
        <b>Home</b>
      </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar4">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar4">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"> <a class="nav-link" href="/aluno">Aluno</a> </li>
          <li class="nav-item"> <a class="nav-link" href="/prof"> Profissional</a> </li>
          <li class="nav-item"> <a class="nav-link" href="/perg"> Pergunta</a> </li>
          <li class="nav-item"> <a class="nav-link" href="/quest">Questionário</a> </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="py-5 text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="mb-3">Monte o seu questionário</h1>
          <p>Selecione as perguntas desejadas</p>
          <form action=/quest/new method="POST">

            <div class="form-group">
              <label for="prof">Profissional</label>
              <select class="form-control" id="perg1">
                <option value="0">Escolha o profissional</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <div class="form-group">
              <label for="perg1">Pergunta 1</label>
              <select class="form-control" id="perg1">
                <option value="0">Escolha uma pergunta</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
              
              <label for="resp1">Resposta 1</label>
              <input type="text" class="form-control" name="resp1" id="resp1" placeholder="Digite seu resposta">   

              <label for="perg2">Pergunta 2</label>
              <select class="form-control" id="perg2">
                <option value="0">Escolha uma pergunta</option>                
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>

              <label for="resp2">Resposta 2</label>
              <input type="text" class="form-control" name="resp2" id="resp2" placeholder="Digite seu resposta">              

              <label for="perg3">Pergunta 3</label>
              <select class="form-control" id="perg3">
                <option value="0">Escolha uma pergunta</option>                
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>

              <label for="resp3">Resposta 3</label>
              <input type="text" class="form-control" name="resp3" id="resp3" placeholder="Digite seu resposta">              

              <label for="perg4">Pergunta 4</label>
              <select class="form-control" id="perg4">
                <option value="0">Escolha uma pergunta</option>                
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>

              <label for="resp1">Resposta 4</label>
              <input type="text" class="form-control" name="resp4" id="resp4" placeholder="Digite seu resposta">              

              <label for="perg5">Pergunta 5</label>
              <select class="form-control" id="perg5">
                <option value="0">Escolha uma pergunta</option>                
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>

              <label for="resp1">Resposta 5</label>
              <input type="text" class="form-control" name="resp5" id="resp5" placeholder="Digite seu resposta">              

              <label for="perg6">Pergunta 6</label>
              <select class="form-control" id="perg6">
                <option value="0">Escolha uma pergunta</option>                
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>

              <label for="resp1">Resposta 6</label>
              <input type="text" class="form-control" name="resp6" id="resp6" placeholder="Digite seu resposta">              

              <label for="perg7">Pergunta 7</label>
              <select class="form-control" id="perg7">
                <option value="0">Escolha uma pergunta</option>                
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>

              <label for="resp7">Resposta 7</label>
              <input type="text" class="form-control" name="resp7" id="resp7" placeholder="Digite seu resposta">              

              <label for="perg8">Pergunta 8</label>
              <select class="form-control" id="perg8">
                <option value="0">Escolha uma pergunta</option>                
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>

              <label for="resp8">Resposta 8</label>
              <input type="text" class="form-control" name="resp8" id="resp8" placeholder="Digite seu resposta">              

              <label for="perg9">Pergunta 9</label>
              <select class="form-control" id="perg9">
                <option value="0">Escolha uma pergunta</option>                
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>

              <label for="resp9">Resposta 9</label>
              <input type="text" class="form-control" name="resp9" id="resp9" placeholder="Digite seu resposta">              

              <label for="perg10">Pergunta 10</label>
              <select class="form-control" id="perg10">
                <option value="0">Escolha uma pergunta</option>                
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>

              <label for="resp10">Resposta 10</label>
              <input type="text" class="form-control" name="resp10" id="resp10" placeholder="Digite seu resposta"> 
            </div>

            <p>
              <input type="submit" value="Salvar" />
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mt-3 text-center">
          <p>© Copyright 2018 Pingendo - All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
  <script>
    if (location.href.indexOf('delete=true') != -1) {
      alert('Questionário excluído com sucesso!');
    } else if (location.href.indexOf('edit=true') != -1) {
      alert('Qustionário editado com sucesso!');
    } else if (location.href.indexOf('new=true') != -1) {
      alert('Questionário cadastrado com sucesso!');
    } else if (location.href.indexOf('erro') != -1) {
      alert('Ocorreu um erro!');
    }
  </script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>