<!DOCTYPE html>
<html lang="en">
<head>
  <title>JavaScript fills a Select</title>
</head>
<body>
  <select id="select-especialidade">
    <option value="" disabled selected>Choose your language</option>
  </select>
 
  <script src="carregarSelect.js"></script>
</body>
</html>